*{
  font-family: 'Do Hyeon', sans-serif;
}
#header{
  /* position:fixed; */
  display:flex;
  width:100%;
  height:60px;
  line-height: 60px;
  background:#1d3557;
  color:white;
}
#header h1{
  top:0px;
  margin:0px;
  text-transform:uppercase;
  font-size:1.2em;
}

#nav{
  position:absolute;
  right:0;
  top:-15px;
  height:60px;
  cover:100%;
}

.input{
  margin: 8px 0;
  padding: 12px 20px;
  box-sizing:border-box;
}

#nav ul li{
  float:left;
  list-style:none;
}

#nav ul li a{
  display:block;
  color:white;
  text-decoration:none;
  padding:0 10px;
}

.about, .contact-me{
  padding:60px;
  text-align: center;
  background:#1abc9c;
  color:white;
  font-size:16px;
  width:100%;
}

#me{
  font-size:18px;
}

.skills, .blog{
  padding:60px;
  border:1px solid black;
  background:#f9dcc4;
  width:100%;
}

.icons{
  height:150px;
  width:150px;
}

.imgcontainer, .projectcontainer{
  display:flex;
  flex-wrap:wrap;
}

.project{
  height:250px;
  width:250px;
  margin:10px 10px 10px 10px;
}

.projects{
  padding:60px;
  background:white;
  width:100%;
}

.rhy-image{
  position:relative;
  margin-right: 10px;
}

.project{
  height:250px;
  width:250px;
}
 .rhy-image:hover{
  cursor: pointer;
 }
 


 

 .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.rhy-image:hover .overlay{
  opacity: 1;
}

.text {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.github-proj{
  max-width:20px;
  max-height:20px;
}
/* .contact-me{
  text-align:center;
} */
footer{
  background:black;
  color:white;
  padding:60px;
  width:100%;
}
.social-icons{
  display:flex;
}
.social-icon{
  width:50px;
  height:50px;
}
